@model IEnumerable<Project02_Models.Models.Domain.EF.Person>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Country.CountryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pet.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsHealthy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastModifiedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastModifiedAt)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Country.CountryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pet.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsHealthy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModifiedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModifiedAt)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.PersonId }) |
                @Html.ActionLink("Details", "Details", new { id=item.PersonId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.PersonId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
